north_client/ifc_ds_config/ietf-interfaces-config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:if="urn:ietf:params:xml:ns:yang:ietf-interfaces" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/usr/local/share/libnetconf/rnglib//relaxng-lib.rng"/><start><element name="config"><interleave><grammar ns="urn:ietf:params:xml:ns:yang:ietf-interfaces"><include href="./ietf-interfaces-gdefs-config.rng"/><start><interleave><optional><element name="if:interfaces"><zeroOrMore><element name="if:interface"><element name="if:name"><data type="string"/></element><interleave><optional><element name="if:description"><data type="string"/></element></optional><element name="if:type"><ref name="__ianaift_iana-interface-type"/></element><optional><element name="if:enabled"><choice><value>true</value><value>false</value></choice></element></optional><optional><element name="if:link-up-down-trap-enable"><choice><value>enabled</value><value>disabled</value></choice></element></optional></interleave></element></zeroOrMore></element></optional><optional><empty/></optional></interleave></start></grammar></interleave></element></start></grammar>
